.container {
    background-color: white;
    border: 1px solid rgba(211, 211, 211, 0.521);
    width: 500px;
    padding: 2rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.header {
    text-align: center;
    padding: 1rem;
}

.textField {
    margin-bottom: 1rem;
}

    .textField > label {
        display: block;
        font-weight: 500;
        margin-bottom: 0.25rem;
    }

.textInput{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .textInput::placeholder {
        color: #212529;
        opacity: 0.4;
    }

    .textInput:focus {
        color: #212529;
        background-color: #fff;
        border-color: #bdbdbd;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }

.button {
    color: white;
    background-color: rgb(0, 118, 253);
}