.header {
    display: flex;
}

.header > h1 {
    flex-grow: 1;
    text-align: center;
    align-self: center;
    margin-left: 1rem;
}

.header > img {
    border: 1px solid lightgray;
}

.container {
    background-color: white;
    border: 1px solid rgba(211, 211, 211, 0.521);
    min-width: 500px;
    max-width: 700px;
    padding: 2rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.userFields {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.userRow {
    display: flex;
    justify-content: end;
}

    .userRow > label{
        flex: 1;
        margin-bottom: 1rem;
        margin-right: 0.5rem;
        color: black;
        font-weight: 500;
    }

    .userRow > span{
        flex: 4;
    }

.button {
    color: white;
    background-color: rgb(243, 73, 73)
}
